# Flutter/Dart
.dart_tool/
.packages
build/
*.log
*.lock
*.iml
.flutter-plugins
.flutter-plugins-dependencies
.android/
.ios/

# IDE
.idea/
.vscode/
*.swp

# Android
**/android/local.properties
**/android/.gradle
**/android/app/debug
**/android/app/profile
**/android/app/release

# iOS
**/ios/Pods/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/

# Windows
**/windows/runner/GeneratedPluginRegistrant.*